<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Ticket Logger - Insertar/Actualizar Ubicación')"></head>

<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <h1 th:text="${location.id == null} ? #{msg.location-form.add} : #{msg.location-form.edit}"></h1>

    <!-- Mostrar un mensaje de error si existe -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="${location.id == null} ? @{/locations/insert} : @{/locations/update}"
          th:object="${location}" method="post" class="mt-4">
        <input type="hidden" th:field="*{id}" />
        <div th:if="${#fields.hasErrors('id')}" class="text-danger" th:errors="*{id}"></div>

        <div class="mb-3">
            <label for="address" class="form-label" th:text="#{msg.location-form.address}"></label>
            <input type="text" th:field="*{address}" id="address" class="form-control" required/>
            <div th:if="${#fields.hasErrors('address')}" class="text-danger" th:errors="*{address}"></div>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label" th:text="#{msg.location-form.city}"></label>
            <input type="text" th:field="*{city}" id="city" class="form-control" required/>
            <div th:if="${#fields.hasErrors('city')}" class="text-danger" th:errors="*{city}"></div>
        </div>

        <!-- Selector de provincia -->
        <div class="mb-3">
            <label for="province" class="form-label" th:text="#{msg.location-form.province}"></label>
            <select th:field="*{province.id}" id="province" class="form-control" required>
                <option value="" th:text="#{msg.location-form.select-province}"></option>
                <option th:each="province : ${listProvinces}" th:value="${province.id}"
                        th:text="${province.name}" th:selected="${location.province?.id == province.id}"></option>
            </select>
            <div th:if="${#fields.hasErrors('province.id')}" class="text-danger" th:errors="*{province.id}"></div>
        </div>

        <!-- Selector de supermercado -->
        <div class="mb-3">
            <label for="supermarket" class="form-label" th:text="#{msg.location-form.supermarket}"></label>
            <select th:field="*{supermarket.id}" id="supermarket" class="form-control" required>
                <option value="" th:text="#{msg.location-form.select-supermarket}"></option>
                <option th:each="supermarket : ${listSupermarkets}" th:value="${supermarket.id}"
                        th:text="${supermarket.name}" th:selected="${location.supermarket?.id == supermarket.id}"></option>
            </select>
            <div th:if="${#fields.hasErrors('supermarket.id')}" class="text-danger" th:errors="*{supermarket.id}"></div>
        </div>

        <button type="submit" class="btn btn-primary"
                th:text="${location.id == null} ? #{msg.location-form.create} : #{msg.location-form.update}">
        </button>
    </form>

    <!-- Volver a la lista de ubicaciones -->
    <a th:href="@{/locations}" class="btn btn-secondary mt-3" th:text="#{msg.location-form.returnback}"></a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
